[submodule "public"]
	path = public
	url = https://github.com/jessecusack/jessecusack.github.io.git
	branch = master
[submodule "jessecusack.github.io"]
	path = jessecusack.github.io
	url = git@github.com:jessecusack/jessecusack.github.io
	branch = master
